<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>{% if page.title %}{{ page.title }} | {{ site.author.name }}{% else %}{{ site.title }}{% endif %}</title>


  <link rel="shortcut icon" type="image/x-icon" href="{{ site.author.favicon }}">
  <link rel="icon" type="image/x-icon" href="{{ site.author.favicon }}">
  <link rel="stylesheet" href="/assets/liushang.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.url }}">





</head>